.weather-card-container{
    width: 3.5rem;
    background-color: #ffffff3b;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 9px, rgb(0 0 0 / 3%) 0px 6px 5px;
    margin-right: 1rem;
}

.weather-card-container .title{
    font-size: 12px;
    color: rgb(109 109 109);
    font-weight: bold;
    height: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 3.5rem;
}

.weather-card-container .icon{
    border-radius: 50%;
    color: rgb(109 109 109);
    height: 3rem;
    width: 3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

.weather-card-container .temperature{
    border-radius: 0% 0% 100% 100%;
    font-size: 15px;
    color: rgb(109 109 109);
    font-weight: bold;
    height: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
}